.form-wrapper {
    max-width: 440px;
    margin: auto;
    background-color: slateblue;

    div {
        padding: 20px 0;
        display: flex;
        border: 1px solid black;


        label {
            color: white;
            font-size: 30px;
            padding: 0 15px;
        }

        input {
            padding: 10px 20px;
            margin: 0 15px;
        }

        button {
            margin: auto;
            padding: 20px;
            color: white;
            background-color: slategray;
            font-size: 20px;
            border: 1px solid white;
            border-radius: 7px;
            cursor: pointer;
            transition: 200ms;

            &:hover {
                background-color: orangered;
            }
        }
    }
}